.App {
 margin: 0px;
 padding: 0px;
 


}

.container {
  padding: 0px;
  margin: 0px;

  display: grid;
   grid-template-columns: auto auto;

}


html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}